{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set pageName = "Forgot your password?" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Forgot your password?</h1>

    {% if error == "email-empty" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Enter your email address", href: "#email" }
        ]
      }) }}
    {% elif error == "email-invalid" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Enter an email address in the correct format, like name@example.com", href: "#email" }
        ]
      }) }}
    {% elif error == "account-disabled" %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Your account has been disabled. Contact the administrator", href: "#email" }
        ]
      }) }}
    {% endif %}

    <p class="govuk-body">
      Enter your email address and we'll send you a link to reset your password.
    </p>

    <form action="/forgot-password" method="post" novalidate>
      {% set emailErrorMsg = null %}
      {% if error == "email-empty" %}
        {% set emailErrorMsg = { text: "Enter your email address" } %}
      {% elif error == "email-invalid" %}
        {% set emailErrorMsg = { text: "Enter an email address in the correct format, like name@example.com" } %}
      {% endif %}
      
      {{ govukInput({
        label: { text: "Email address" },
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        errorMessage: emailErrorMsg
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>

    {% if error == "account-disabled" %}
      <div class="govuk-form-group govuk-!-margin-top-4">
        {{ govukInsetText({
          html: '<p class="govuk-body">Contact the Defra IT Service Desk on <a href="tel:0800 8766458" class="govuk-link">0800 8766458</a> or email <a href="mailto:pafs-support@environment-agency.gov.uk" class="govuk-link">pafs-support@environment-agency.gov.uk</a></p>'
        }) }}
      </div>
    {% endif %}

    <p class="govuk-body govuk-!-margin-top-6">
      <a href="/login" class="govuk-link">Back to sign in</a>
    </p>
  </div>
</div>

{% endblock %}
