{% extends "layouts/main.html" %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set pageName = "Reset your password" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {# Token expired #}
    {% if error == "token-expired" or error == "token-used" %}
      <h1 class="govuk-heading-xl">Reset password link expired</h1>

      <p class="govuk-body">
        The link you used to reset your password has expired.
      </p>

      <p class="govuk-body">
        Password reset links are valid for 6 hours for security reasons.
      </p>

      <h2 class="govuk-heading-m">What you can do</h2>

      <p class="govuk-body">
        You can request a new password reset link.
      </p>

      {{ govukButton({
        text: "Request new reset link",
        href: "/forgot-password"
      }) }}

      <p class="govuk-body govuk-!-margin-top-6">
        <a href="/login" class="govuk-link">Return to sign in</a>
      </p>
    {% endif %}

    {# Account disabled #}
    {% if error == "account-disabled" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Your account has been disabled. Contact the administrator", href: "#email" }
        ]
      }) }}
    {% endif %}

    {# Validation error summary #}
    {% if error == "password-empty" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Enter your password", href: "#password" }
        ]
      }) }}
    {% endif %}

    {% if error == "password-too-short" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Password must be at least 8 characters", href: "#password" }
        ]
      }) }}
    {% endif %}

    {% if error == "password-no-uppercase" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Password must contain at least 1 capital letter", href: "#password" }
        ]
      }) }}
    {% endif %}

    {% if error == "password-no-lowercase" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Password must contain at least 1 lower-case letter", href: "#password" }
        ]
      }) }}
    {% endif %}

    {% if error == "password-no-special" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Password must contain at least 1 special character", href: "#password" }
        ]
      }) }}
    {% endif %}

    {% if error == "password-no-number" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Password must contain at least 1 numeric character", href: "#password" }
        ]
      }) }}
    {% endif %}
    
    {% if error == "confirm-empty" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Confirm your new password", href: "#confirm-password" }
        ]
      }) }}
    {% endif %}

    {% if error == "passwords-dont-match" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Passwords do not match", href: "#confirm-password" }
        ]
      }) }}
    {% endif %}

    {# Only show form if token is valid #}
    {% if not (error == "token-expired" or error == "token-used") %}
      <h1 class="govuk-heading-xl">Reset password</h1>

      <p class="govuk-body">
        Your password must contain a minimum of:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>8 characters</li>
        <li>1 capital letter</li>
        <li>1 lower-case letter</li>
        <li>1 numeric character</li>
        <li>1 special character, !@#$%^&*()_.+-=[]</li>
      </ul>

      <p class="govuk-body">and must not be a current or previously used password.</p>

      <form action="/reset-password" method="post" novalidate>
        <input type="hidden" name="token" value="abc123def456">

        {% set passwordErrors = null %}
        {% if error == "password-empty" %}
          {% set passwordErrors = { text: "Enter your password" } %}
        {% elseif error == "password-too-short" %}
          {% set passwordErrors = { text: "Password must be at least 8 characters" } %}
        {% elseif error == "password-no-uppercase" %}
          {% set passwordErrors = { text: "Password must contain at least 1 capital letter" } %}
        {% elseif error == "password-no-lowercase" %}
          {% set passwordErrors = { text: "Password must contain at least 1 lower-case letter" } %}
        {% elseif error == "password-no-number" %}
          {% set passwordErrors = { text: "Password must contain at least 1 numeric character" } %}
        {% elseif error == "password-no-special" %}
          {% set passwordErrors = { text: "Password must contain at least 1 special character" } %}
        {% endif %}

        {{ govukPasswordInput({
          label: { text: "New password" },
          id: "password",
          name: "password",
          autocomplete: "new-password",
          errorMessage: passwordErrors
        }) }}

        {% set confirmErrors = null %}
        {% if error == "confirm-empty" %}
          {% set confirmErrors = { text: "Confirm your new password" } %}
        {% elseif error == "passwords-dont-match" %}
          {% set confirmErrors = { text: "Passwords do not match" } %}
        {% endif %}

        {{ govukPasswordInput({
          label: { text: "Confirm password" },
          id: "confirm-password",
          name: "confirmPassword",
          autocomplete: "new-password",
          errorMessage: confirmErrors
        }) }}

        {{ govukButton({ text: "Reset password" }) }}
      </form>

      {% if error == "account-disabled" %}
        <div class="govuk-form-group govuk-!-margin-top-4">
          {{ govukInsetText({
            html: '<p class="govuk-body">Contact the Defra IT Service Desk on <a href="tel:0800 8766458" class="govuk-link">0800 8766458</a> or email <a href="mailto:pafs-support@environment-agency.gov.uk" class="govuk-link">pafs-support@environment-agency.gov.uk</a></p>'
          }) }}
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>

{% endblock %}
