{% extends "layouts/main.html" %}

{% set userType = data.userType or 'unknown' %}

{% set pageName="Your proposals" %}

{% block content %}
{% set proposalList = proposals or [] %}
{% set showProjects = hasProjects if hasProjects is defined else (proposalList | length > 0) %}

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Your proposals</h1>

    <div class="govuk-inset-text">
      For submission deadlines please contact your local partnership and strategic overview officer.
    </div>

    <form method="get" action="/proposal/proposals" class="govuk-!-margin-bottom-6">
      <div class="govuk-form-group">
        <label class="govuk-label" for="project-search">
          Enter a project number or name
        </label>
        <input
          class="govuk-input govuk-!-width-two-thirds"
          id="project-search"
          name="search"
          type="text"
          value="{{ data['search'] }}"
        >
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Filter
        </button>
        <a href="/proposal/proposals" class="govuk-link">Clear filters</a>
      </div>
    </form>
  </div>
</div>

{% if userType == 'rma' %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    {{ govukButton({
      text: "Create a new proposal",
      href: "/proposal/create-proposal/start"
    }) }}
  </div>
</div>
{% endif %}

{% if userType == 'pso' %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      To create a new EA-Led proposal please <a href="https://aimspd.sharepoint.com/sites/pwa" class="govuk-link" target="_blank">go to AIMS\:PD (opens in new tab)</a><br>
      RMA-led projects are to be created by the RMA, by logging into PAFS.
    </p>
  </div>
</div>
{% endif %}

<section>
  {% if showProjects %}
    <table class="govuk-table govuk-body-s dashboard" style="font-size: 1rem;">
      <caption class="govuk-visually-hidden">Your proposals</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">National project number</th>
          <th scope="col" class="govuk-table__header">Project name</th>
          <th scope="col" class="govuk-table__header">Created by</th>
          <th scope="col" class="govuk-table__header">Last updated</th>
          <th scope="col" class="govuk-table__header">Status</th>
          {% if userType == 'pso' %}
          <th scope="col" class="govuk-table__header">In current programme</th>
          {% endif %}
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for proposal in proposalList %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link" href="#">{{ proposal.referenceNumber }}</a></td>
            <td class="govuk-table__cell">{{ proposal.name }}</td>
            <td class="govuk-table__cell">{{ proposal.areaName }}</td>
            <td class="govuk-table__cell">{{ proposal.lastUpdated }}</td>
            <td class="govuk-table__cell">{{ proposal.status }}</td>
            {% if userType == 'pso' %}
            <td class="govuk-table__cell">{% if proposal.inProgramme %}Y{% else %}N{% endif %}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="page-nav govuk-body-s" style="display: flex; justify-content: space-between; align-items: center; gap: 20px;">
      <p class="govuk-!-margin-bottom-0">Showing <strong>1 to {{ proposalList | length }}</strong> of <strong>{{ proposalList | length }}</strong> proposals</p>
      <nav class="govuk-pagination" role="navigation" aria-label="Pagination" style="margin: 0; margin-left: auto;">
          <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">
                Previous<span class="govuk-visually-hidden"> page</span>
              </span>
            </a>
          </div>
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">1</a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">2</a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
    </div>
  {% else %}
    <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-m">No projects found</h2>
        <p class="govuk-body">You do not have any proposals yet.</p>
        <p class="govuk-body">Please try</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a different search</li>
          <li>checking for spelling</li>
          <li>looking in your archive</li>
        </ul>
      </div>
    </div>
  {% endif %}
</section>

{% endblock %}
