{% extends "layouts/main.html" %}

{% set pageName="Admin Login" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Password must contain at least one upper-case letter",
          href: "#password"
        }
      ]
    }) }}

    <h1 class="govuk-heading-xl">
      Sign in
    </h1>

    <form action="/admin/login" method="post" novalidate>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Email address
        </label>
        <input class="govuk-input" id="email" name="email" type="email" autocomplete="email" value="admin@example.gov.uk">
      </div>

      <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label" for="password">
          Password
        </label>
        <p id="password-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Password must contain at least one upper-case letter
        </p>
        <input class="govuk-input govuk-input--error" id="password" name="password" type="password" autocomplete="current-password" aria-describedby="password-error">
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Sign in
      </button>

    </form>
  </div>
</div>

{% endblock %}
