//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

// Variant 2: Align user navigation to the right
.govuk-service-navigation__container {
  display: flex;
  justify-content: space-between;
}

.govuk-service-navigation__list--end {
  margin-left: auto;
}