{% extends "layouts/general-main.html" %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageName="Reset password" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% if error %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Enter a new password",
            href: "#new-password"
          } if error == "password-empty",
          {
            text: "Password must be at least 8 characters",
            href: "#new-password"
          } if error == "password-short",
          {
            text: "Password must contain at least 1 capital letter",
            href: "#new-password"
          } if error == "password-no-uppercase",
          {
            text: "Password must contain at least 1 lower-case letter",
            href: "#new-password"
          } if error == "password-no-lowercase",
          {
            text: "Password must contain at least 1 numeric character",
            href: "#new-password"
          } if error == "password-no-number",
          {
            text: "Password has been used previously. Choose a different password",
            href: "#new-password"
          } if error == "password-used",
          {
            text: "Passwords do not match",
            href: "#confirm-password"
          } if error == "password-mismatch"
        ] | reject("equalto", false) | list
      }) }}
    {% endif %}
    
    <h1 class="govuk-heading-xl">
      Reset password
    </h1>

    <p class="govuk-body">Your password must contain a minimum of:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>8 characters</li>
      <li>1 capital letter</li>
      <li>1 lower-case letter</li>
      <li>1 numeric character</li>
    </ul>

    <p class="govuk-body">and must not be a password used previously.</p>

    <form action="/general/reset-password" method="post" novalidate>

      {% set newPasswordErrorMessage = false %}
      {% if error == "password-empty" %}
        {% set newPasswordErrorMessage = { text: "Enter a new password" } %}
      {% elif error == "password-short" %}
        {% set newPasswordErrorMessage = { text: "Password must be at least 8 characters" } %}
      {% elif error == "password-no-uppercase" %}
        {% set newPasswordErrorMessage = { text: "Password must contain at least 1 capital letter" } %}
      {% elif error == "password-no-lowercase" %}
        {% set newPasswordErrorMessage = { text: "Password must contain at least 1 lower-case letter" } %}
      {% elif error == "password-no-number" %}
        {% set newPasswordErrorMessage = { text: "Password must contain at least 1 numeric character" } %}
      {% elif error == "password-used" %}
        {% set newPasswordErrorMessage = { text: "Password has been used previously. Choose a different password" } %}
      {% endif %}

      {{ govukPasswordInput({
        label: {
          text: "New password"
        },
        id: "new-password",
        name: "new-password",
        autocomplete: "new-password",
        errorMessage: newPasswordErrorMessage
      }) }}

      {% set confirmPasswordErrorMessage = false %}
      {% if error == "password-mismatch" %}
        {% set confirmPasswordErrorMessage = { text: "Passwords do not match" } %}
      {% endif %}

      {{ govukPasswordInput({
        label: {
          text: "Confirm password"
        },
        id: "confirm-password",
        name: "confirm-password",
        autocomplete: "new-password",
        errorMessage: confirmPasswordErrorMessage
      }) }}

      {{ govukButton({
        text: "Reset password"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
