{% extends "layouts/general-main.html" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Reset password" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Password must contain at least 1 capital letter",
          href: "#new-password"
        }
      ]
    }) }}

    <h1 class="govuk-heading-xl">
      Reset password
    </h1>

    <p class="govuk-body">Your password must contain a minimum of:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>8 characters</li>
      <li>1 capital letter</li>
      <li>1 lower-case letter</li>
      <li>1 numeric character</li>
    </ul>

    <p class="govuk-body">and must not be a password used previously.</p>

    <form action="/general/reset-password" method="post" novalidate>

      {{ govukPasswordInput({
        label: {
          text: "New password"
        },
        id: "new-password",
        name: "new-password",
        autocomplete: "new-password",
        errorMessage: {
          text: "Password must contain at least 1 capital letter"
        }
      }) }}

      {{ govukPasswordInput({
        label: {
          text: "Confirm password"
        },
        id: "confirm-password",
        name: "confirm-password",
        autocomplete: "new-password"
      }) }}

      {{ govukButton({
        text: "Reset password"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
