{% extends "layouts/email.html" %}

{% set pageName="Unlock Your Account" %}

{% block emailContent %}

<div class="govuk-notification-banner govuk-notification-banner--info" style="background-color: #f3f2f1; padding: 15px; margin-bottom: 20px; border: 3px solid #1d70b8;">
  <p style="margin: 0; font-size: 16px;"><strong>Subject:</strong> Unlock instructions - FCERM project funding</p>
  <p style="margin: 5px 0 0 0; font-size: 16px;"><strong>GOV.UK Notify Placeholders:</strong> ((user_name)), ((unlock_account_link))</p>
  <p style="margin: 5px 0 0 0; font-size: 14px; color: #505a5f;">Note: Wrap email addresses in [square brackets] to make them clickable in GOV.UK Notify</p>
</div>

<p>Hello {{ data.userName or "John Smith" }}!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below or reset password to unlock your account:</p>

<p style="word-wrap: break-word;">
  <a href="{{ data.unlockLink or 'https://pafs.environment-agency.gov.uk/unlock-account?token=xyz789abc' }}">{{ data.unlockLink or "https://pafs.environment-agency.gov.uk/unlock-account?token=xyz789abc" }}</a>
</p>

<p><strong>This link will expire in 1 hour.</strong></p>

<p>Your account will be automatically unlocked after 1 hour if you don't unlock it.</p>

{% endblock %}
