{% extends "layouts/email.html" %}

{% set pageName="Password Reset Request" %}

{% block emailContent %}

<div class="govuk-notification-banner govuk-notification-banner--info" style="background-color: #f3f2f1; padding: 15px; margin-bottom: 20px; border: 3px solid #1d70b8;">
  <p style="margin: 0; font-size: 16px;"><strong>Subject:</strong> Reset password - FCERM project funding</p>
  <p style="margin: 0; font-size: 16px;"><strong>GOV.UK Notify Placeholders:</strong> ((name)), [((email))], ((reset_link))</p>
  <p style="margin: 5px 0 0 0; font-size: 14px; color: #505a5f;">Note: Wrap email addresses in [square brackets] to make them clickable in GOV.UK Notify</p>
</div>

<p>Hello {{ data.userName or "RMA TEST CTS" }}</p>

<p>We have received a request to reset the password for <a href="mailto:{{ data.email or 'fujale.defra+rma1@gmail.com' }}">{{ data.email or "fujale.defra+rma1@gmail.com" }}</a>.</p>

<p>Use the link below, or copy and paste it into your browser, to reset your password.</p>

<p style="word-wrap: break-word;">
  <a href="{{ data.resetLink or 'https://paf-tra.aws-int.defra.cloud/users/password/edit?reset_password_token=gV-Zqy_VxxDJWBUk7RVh' }}">{{ data.resetLink or "https://paf-tra.aws-int.defra.cloud/users/password/edit?reset_password_token=gV-Zqy_VxxDJWBUk7RVh" }}</a>
</p>

<p><strong>This link will expire after 6 hours.</strong></p>

<p>If you did not request a password reset, you can safely ignore this email. Your password will not be changed.</p>

<p>If you have any queries, email us at <a href="mailto:pafs-support@environment-agency.gov.uk">pafs-support@environment-agency.gov.uk</a></p>

{% endblock %}
