{% extends "layouts/admin-variant1.html" %} {% set pageName="Check Your Answers"
%} {% block content %}

<h1 class="govuk-heading-xl">Check Your Answers</h1>

<p class="govuk-body">Please review the information below before submitting.</p>

<h2 class="govuk-heading-m">Organisation Type</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Type</dt>
    <dd class="govuk-summary-list__value">
      {{ data['organisationType'] or 'Not provided' }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a
        class="govuk-link govuk-link--no-visited-state"
        style="font-size: 16px"
        href="/admin/organisations/add"
        >Change</a
      >
    </dd>
  </div>
</dl>

{% if data['organisationType'] == 'Authority' %}
<div style="display: flex; justify-content: space-between; align-items: center">
  <h2 class="govuk-heading-m" style="margin-bottom: 0">Authority Details</h2>
  <a
    class="govuk-link govuk-link--no-visited-state"
    style="font-size: 16px"
    href="/admin/organisations/add-authority"
    >Change</a
  >
</div>
<dl class="govuk-summary-list govuk-!-margin-top-4">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Authority Code</dt>
    <dd class="govuk-summary-list__value">
      {{ data['authorityCode'] or 'Not provided' }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Authority Type</dt>
    <dd class="govuk-summary-list__value">
      {{ data['authorityType'] or 'Not provided' }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Date</dt>
    <dd class="govuk-summary-list__value">
      {{ data['date'] or 'Not provided' }}
    </dd>
  </div>
</dl>
{% elif data['organisationType'] == 'PSO' %}
<div style="display: flex; justify-content: space-between; align-items: center">
  <h2 class="govuk-heading-m" style="margin-bottom: 0">PSO Details</h2>
  <a
    class="govuk-link govuk-link--no-visited-state"
    style="font-size: 16px"
    href="/admin/organisations/add-pso"
    >Change</a
  >
</div>
<dl class="govuk-summary-list govuk-!-margin-top-4">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">PSO Name</dt>
    <dd class="govuk-summary-list__value">
      {{ data['psoName'] or 'Not provided' }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">EA Area</dt>
    <dd class="govuk-summary-list__value">
      {{ data['eaArea'] or 'Not provided' }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">RFCC Code</dt>
    <dd class="govuk-summary-list__value">
      {{ data['rfccCode'] or 'Not provided' }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Date</dt>
    <dd class="govuk-summary-list__value">
      {{ data['date'] or 'Not provided' }}
    </dd>
  </div>
</dl>
{% elif data['organisationType'] == 'RMA' %}
<div style="display: flex; justify-content: space-between; align-items: center">
  <h2 class="govuk-heading-m" style="margin-bottom: 0">RMA Details</h2>
  <a
    class="govuk-link govuk-link--no-visited-state"
    style="font-size: 16px"
    href="/admin/organisations/add-rma"
    >Change</a
  >
</div>
<dl class="govuk-summary-list govuk-!-margin-top-4">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">RMA Organisation Name</dt>
    <dd class="govuk-summary-list__value">
      {{ data['organisationName'] or 'Not provided' }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Identifier Code</dt>
    <dd class="govuk-summary-list__value">
      {{ data['identifierCode'] or 'Not provided' }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Authority Code</dt>
    <dd class="govuk-summary-list__value">
      {{ data['authorityCode'] or 'Not provided' }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Associated PSO</dt>
    <dd class="govuk-summary-list__value">
      {{ data['associatedPso'] or 'Not provided' }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Date</dt>
    <dd class="govuk-summary-list__value">
      {{ data['date'] or 'Not provided' }}
    </dd>
  </div>
</dl>
{% endif %}

<form method="post" action="/admin/organisations/submit">
  <button class="govuk-button" type="submit">Submit</button>
</form>

{% endblock %}
