{% extends "layouts/main.html" %}

{% set pageName="Admin Journey" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Admin User</span>
    <h1 class="govuk-heading-xl">
      Welcome to the Admin Journey
    </h1>

    <p class="govuk-body">
      This is the starting point for administrators to manage users and system settings.
    </p>

    <p class="govuk-body">
      You are currently in an <strong>Admin</strong> session.
    </p>

    <a href="/journey-selection" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Switch to different journey
    </a>
  </div>
</div>

{% endblock %}
