{% extends "layouts/main.html" %}

{% set pageName="Users" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="/admin/users/{{ data.currentUser.id }}/view" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-xl">
      Change main EA area
    </h1>

    <form method="post" action="/admin/users/{{ data.currentUser.id }}/edit-main-ea-area" novalidate>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="main-ea-area">
          Main EA area
        </label>
        <select class="govuk-select" id="main-ea-area" name="mainArea">
          <option value="">Select an area</option>
          {% for area in data.areasData.ea_areas or [] %}
            <option value="{{ area.id }}" {{ 'selected' if data.currentUser.mainArea == area.id }}>{{ area.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
        <a href="/admin/users/{{ data.currentUser.id }}/view" class="govuk-link">Cancel</a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
