{% extends "layouts/main.html" %}

{% set pageName="Users" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="/admin/users/{{ data.currentUser.id }}/view" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-xl">
      Change additional EA areas
    </h1>

    <form method="post" action="/admin/users/{{ data.currentUser.id }}/edit-ea-additional-areas" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Additional EA areas (optional)
            </h2>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            {% for area in data.areasData.ea_areas or [] %}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="additional-ea-areas-{{ loop.index }}" name="additionalAreas" type="checkbox" value="{{ area.id }}" {{ 'checked' if area.id in (data.currentUser.additionalAreas or []) }}>
                <label class="govuk-label govuk-checkboxes__label" for="additional-ea-areas-{{ loop.index }}">
                  {{ area.name }}
                </label>
              </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
        <a href="/admin/users/{{ data.currentUser.id }}/view" class="govuk-link">Cancel</a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
