{% extends "layouts/main.html" %}

{% set pageName="Change permissions" %}

{% block beforeContent %}
  <a href="/admin/users/{{ data.currentUser.id }}/view" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="/admin/users/{{ data.currentUser.id }}/edit-admin-status" novalidate>
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Will the user be an administrator?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="isAdmin" name="isAdmin" type="radio" value="yes" {{ 'checked' if data.currentUser.isAdmin }}>
              <label class="govuk-label govuk-radios__label" for="isAdmin">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="isAdmin-2" name="isAdmin" type="radio" value="no" {{ 'checked' if not data.currentUser.isAdmin }}>
              <label class="govuk-label govuk-radios__label" for="isAdmin-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a href="/admin/users/{{ data.currentUser.id }}/view" class="govuk-link">Cancel</a>
      </div>
    </form>

  </div>
</div>

{% endblock %}