{% extends "layouts/main.html" %}

{% set pageName="Change main PSO area" %}

{% block beforeContent %}
  <a href="/admin/users/{{ data.currentUser.id }}/edit-pso-ea-areas" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">
      Change main PSO area
    </h1>

    <form method="post" action="/admin/users/{{ data.currentUser.id }}/edit-main-pso-area" novalidate>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="main-pso-area">
          Main PSO area
        </label>
        <div id="mainArea-hint" class="govuk-hint">This will be the user's primary area</div>
        <select class="govuk-select" id="main-pso-area" name="mainArea">
          <option value="">Select an area</option>
          {% for ea in data.areasData.ea_areas or [] %}
            {% for pso in ea.pso_areas or [] %}
              <option value="{{ pso.id }}" {{ 'selected' if data.currentUser.mainArea == pso.id }}>{{ pso.name }}</option>
            {% endfor %}
          {% endfor %}
        </select>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
        <a href="/admin/users/{{ data.currentUser.id }}/view" class="govuk-link">Cancel</a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
