{% extends "layouts/main.html" %}

{% set pageName="Layout Catalogue" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">General User Journey</span>
    <h1 class="govuk-heading-xl">
      Screens Catalogue
    </h1>

    <p class="govuk-body-l">
      Select a screen to view the screen of the general user journey.
    </p>

    <h2 class="govuk-heading-l govuk-!-margin-top-8">Layout Variants</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Variant 1
        </dt>
        <dd class="govuk-summary-list__value">
          Short service name in service navigation and header with user navigation on right.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/proposals?variant=1">
            View<span class="govuk-visually-hidden"> variant 1</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Variant 2
        </dt>
        <dd class="govuk-summary-list__value">
          Long service name in header. Combined navigation bar with service links on left and user info on right.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/proposals?variant=2">
            View<span class="govuk-visually-hidden"> variant 2</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Variant 3
        </dt>
        <dd class="govuk-summary-list__value">
          Long service name in header. Service navigation below. User info in phase banner style area.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/proposals?variant=3">
            View<span class="govuk-visually-hidden"> variant 3</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l govuk-!-margin-top-8">Login Journey</h2>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Default State</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Login
        </dt>
        <dd class="govuk-summary-list__value">
          Login form with email and password fields, forgot password and request account links.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/login">
            View<span class="govuk-visually-hidden"> login</span>
          </a>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Validation Errors - Email Field</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email Empty
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Enter your email address
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/login/email-empty">
            View<span class="govuk-visually-hidden"> email empty error</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email Invalid Format
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Enter an email address in the correct format, like name@example.com
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/login/email-invalid-format">
            View<span class="govuk-visually-hidden"> email invalid format error</span>
          </a>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Validation Errors - Password Field</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Password Empty
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Enter your password
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/login/password-empty">
            View<span class="govuk-visually-hidden"> password empty error</span>
          </a>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Authentication Errors</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Invalid Credentials
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Your email address or password is incorrect
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/login/invalid-credentials">
            View<span class="govuk-visually-hidden"> invalid credentials error</span>
          </a>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Account Status Errors</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account Pending
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Your account request is pending approval
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/login/account-pending">
            View<span class="govuk-visually-hidden"> account pending error</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account Locked
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Your account has been locked due to too many failed login attempts
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/login/account-locked">
            View<span class="govuk-visually-hidden"> account locked error</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account Disabled
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Your account has been disabled. Contact the administrator
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/login/account-disabled">
            View<span class="govuk-visually-hidden"> account disabled error</span>
          </a>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Warning Messages</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last Attempt Warning
        </dt>
        <dd class="govuk-summary-list__value">
          Warning: You have one more attempt before your account is locked
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/login/last-attempt-warning">
            View<span class="govuk-visually-hidden"> last attempt warning</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Session Timeout
        </dt>
        <dd class="govuk-summary-list__value">
          Notification: Your session has expired. Please sign in again to continue
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/login/session-timeout">
            View<span class="govuk-visually-hidden"> session timeout notification</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l govuk-!-margin-top-8">Password Reset Journey</h2>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Request Reset</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Forgot Password
        </dt>
        <dd class="govuk-summary-list__value">
          Request password reset form with email input.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/forgot-password">
            View<span class="govuk-visually-hidden"> forgot password</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reset Request Confirmation
        </dt>
        <dd class="govuk-summary-list__value">
          Confirmation page showing email sent with next steps.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/forgot-password/confirmation">
            View<span class="govuk-visually-hidden"> reset request confirmation</span>
          </a>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Reset Password Form</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reset Password
        </dt>
        <dd class="govuk-summary-list__value">
          Form to set new password with requirements and confirmation field.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/reset-password">
            View<span class="govuk-visually-hidden"> reset password</span>
          </a>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Validation Errors - New Password</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Password Empty
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Enter a new password
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/reset-password/password-empty">
            View<span class="govuk-visually-hidden"> password empty error</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Password Too Short
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Password must be at least 8 characters
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/reset-password/password-too-short">
            View<span class="govuk-visually-hidden"> password too short error</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Password No Uppercase
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Password must contain at least 1 capital letter
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/reset-password/password-no-uppercase">
            View<span class="govuk-visually-hidden"> password no uppercase error</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Password No Lowercase
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Password must contain at least 1 lower-case letter
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/reset-password/password-no-lowercase">
            View<span class="govuk-visually-hidden"> password no lowercase error</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Password No Number
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Password must contain at least 1 numeric character
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/reset-password/password-no-number">
            View<span class="govuk-visually-hidden"> password no number error</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Password Previously Used
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Password has been used previously. Choose a different password
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/reset-password/password-previously-used">
            View<span class="govuk-visually-hidden"> password previously used error</span>
          </a>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Validation Errors - Confirm Password</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Password Mismatch
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Passwords do not match
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/reset-password/password-mismatch">
            View<span class="govuk-visually-hidden"> password mismatch error</span>
          </a>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Success & Error Pages</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reset Successful
        </dt>
        <dd class="govuk-summary-list__value">
          Success: Password reset successful with link to sign in
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/reset-password/success">
            View<span class="govuk-visually-hidden"> reset successful</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Token Expired
        </dt>
        <dd class="govuk-summary-list__value">
          Separate page: Reset link expired with option to request new link
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/reset-password/token-expired">
            View<span class="govuk-visually-hidden"> token expired</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l govuk-!-margin-top-8">Request Account Journey</h2>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Default State</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Request Account Start
        </dt>
        <dd class="govuk-summary-list__value">
          Start page explaining what information is needed.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/request-account">
            View<span class="govuk-visually-hidden"> request account start</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Request Account Details
        </dt>
        <dd class="govuk-summary-list__value">
          Form to enter personal details, organisation, and responsibility area with privacy policy.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/request-account/details">
            View<span class="govuk-visually-hidden"> request account details</span>
          </a>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Validation Errors - Individual Fields</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          First Name Empty
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Tell us your first name
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/request-account/first-name-empty">
            View<span class="govuk-visually-hidden"> first name empty error</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email Invalid Format
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Enter an email address in the correct format, like name@example.com
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/request-account/email-invalid">
            View<span class="govuk-visually-hidden"> email invalid error</span>
          </a>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Validation Errors - Multiple Fields</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          All Fields Empty
        </dt>
        <dd class="govuk-summary-list__value">
          Error: Multiple validation errors for all required fields
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/request-account/validation-errors">
            View<span class="govuk-visually-hidden"> all fields empty errors</span>
          </a>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Check Answers</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Check Your Answers
        </dt>
        <dd class="govuk-summary-list__value">
          Summary page to review all details before submission
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/request-account/check-answers">
            View<span class="govuk-visually-hidden"> check answers</span>
          </a>
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Success Pages - Two Versions</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Version 1: Auto-Approved
        </dt>
        <dd class="govuk-summary-list__value">
          Success: Account approved immediately (for .gov.uk email addresses). Email sent with password setup link.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/request-account/success-auto-approved">
            View<span class="govuk-visually-hidden"> auto-approved success</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Version 2: Pending Approval
        </dt>
        <dd class="govuk-summary-list__value">
          Success: Request submitted for admin review (for non-.gov.uk emails). Approval takes 1-2 working days.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/general/request-account/success-pending-approval">
            View<span class="govuk-visually-hidden"> pending approval success</span>
          </a>
        </dd>
      </div>
    </dl>

    <p class="govuk-body govuk-!-margin-top-6">
      <a href="/journey-selection" class="govuk-link">Back to journey selection</a>
    </p>
  </div>
</div>

{% endblock %}
