{% extends "layouts/main.html" %}

{% set pageName="Forgot password" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Reset your password
    </h1>

    <p class="govuk-body">
      Enter your email address and we'll send you a link to reset your password.
    </p>

    <form action="/general/forgot-password" method="post" novalidate>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Email address
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="email" autocomplete="email">
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Send reset link
      </button>

    </form>

    <p class="govuk-body govuk-!-margin-top-6">
      <a href="/general/login" class="govuk-link">Back to sign in</a>
    </p>

  </div>
</div>

{% endblock %}
