{% extends "layouts/general-main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Reset your password" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Reset your password
    </h1>

    <p class="govuk-body">
      Enter your email address and we'll send you a link to reset your password.
    </p>

    <form action="/general/forgot-password" method="post" novalidate>
      
      {{ govukInput({
        label: {
          text: "Email address"
        },
        classes: "govuk-!-width-two-thirds",
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        spellcheck: false
      }) }}

      {{ govukButton({
        text: "Send reset link"
      }) }}

    </form>

    <p class="govuk-body govuk-!-margin-top-6">
      <a href="/general/login" class="govuk-link">Back to sign in</a>
    </p>

  </div>
</div>

{% endblock %}
