{% extends "layouts/main.html" %}

{% set pageName="General User Journey" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">General User</span>
    <h1 class="govuk-heading-xl">
      Welcome to the General User Journey
    </h1>

    <p class="govuk-body">
      This is the starting point for Risk Management Authority (RMA), Partnership & Strategic Overview (PSO), 
      and Environment Agency (EA) users.
    </p>

    <p class="govuk-body">
      You are currently in a <strong>General User</strong> session.
    </p>

    <a href="/journey-selection" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Switch to different journey
    </a>
  </div>
</div>

{% endblock %}
