{% extends "layouts/main.html" %}

{% set pageName="Request an account" %}

{# Load areas data #}
{% set areasData = data['areasData'] or (data.areas) %}
{% set eaAreas = areasData.ea_areas or [] %}
{% set responsibility = data['responsibility'] %}

{# Helper function to get area name by ID #}
{% macro getAreaName(areaId, areaType) %}
  {% if areaType == 'ea' %}
    {% for ea in eaAreas %}
      {% if ea.id == areaId %}{{ ea.name }}{% endif %}
    {% endfor %}
  {% elif areaType == 'pso' %}
    {% for ea in eaAreas %}
      {% for pso in ea.pso_areas %}
        {% if pso.id == areaId %}{{ pso.name }}{% endif %}
      {% endfor %}
    {% endfor %}
  {% elif areaType == 'rma' %}
    {% for ea in eaAreas %}
      {% for pso in ea.pso_areas %}
        {% for rma in pso.rma_areas %}
          {% if rma.id == areaId %}{{ rma.name }}{% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% block beforeContent %}
  {% if responsibility == 'ea' %}
    <a href="/general/request-account/ea-additional-areas" class="govuk-back-link">Back</a>
  {% elif responsibility == 'pso' %}
    <a href="/general/request-account/pso-additional-areas" class="govuk-back-link">Back</a>
  {% elif responsibility == 'rma' %}
    <a href="/general/request-account/rma-additional-areas" class="govuk-back-link">Back</a>
  {% else %}
    <a href="/general/request-account/details" class="govuk-back-link">Back</a>
  {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Check your details
    </h1>

    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h2 class="govuk-heading-m" style="margin-bottom: 0;">Personal details</h2>
      <a class="govuk-link" href="/general/request-account/details">Change</a>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-top-4">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          First name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['firstName'] or 'Not provided' }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['lastName'] or 'Not provided' }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['email'] or 'Not provided' }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Telephone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['telephone'] or 'Not provided' }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['organisation'] or 'Not provided' }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job title
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['jobTitle'] or 'Not provided' }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Responsibility
        </dt>
        <dd class="govuk-summary-list__value">
          {% if responsibility == 'ea' %}
            Environment Agency Area
          {% elif responsibility == 'pso' %}
            Partnership & Strategic Overview Area
          {% elif responsibility == 'rma' %}
            Risk Management Authority Area
          {% else %}
            Not provided
          {% endif %}
        </dd>
      </div>
    </dl>

    {% if responsibility %}
    <h2 class="govuk-heading-m">Area selection</h2>

    <dl class="govuk-summary-list">
      {% if responsibility == 'ea' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main EA area
          </dt>
          <dd class="govuk-summary-list__value">
            {{ getAreaName(data['mainArea'], 'ea') or 'Not selected' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/general/request-account/ea-main-area">
              Change<span class="govuk-visually-hidden"> main EA area</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Additional EA areas
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['additionalAreas'] and data['additionalAreas'].length > 0 %}
              {% for areaId in data['additionalAreas'] %}
                {{ getAreaName(areaId, 'ea') }}{% if not loop.last %}<br>{% endif %}
              {% endfor %}
            {% else %}
              None selected
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/general/request-account/ea-additional-areas">
              Change<span class="govuk-visually-hidden"> additional EA areas</span>
            </a>
          </dd>
        </div>

      {% elif responsibility == 'pso' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            EA areas
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['psoEaAreas'] and data['psoEaAreas'].length > 0 %}
              {% for areaId in data['psoEaAreas'] %}
                {{ getAreaName(areaId, 'ea') }}{% if not loop.last %}<br>{% endif %}
              {% endfor %}
            {% else %}
              Not selected
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/general/request-account/pso-ea-areas">
              Change<span class="govuk-visually-hidden"> EA areas</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main PSO area
          </dt>
          <dd class="govuk-summary-list__value">
            {{ getAreaName(data['mainArea'], 'pso') or 'Not selected' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/general/request-account/pso-main-area">
              Change<span class="govuk-visually-hidden"> main PSO area</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Additional PSO areas
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['additionalAreas'] and data['additionalAreas'].length > 0 %}
              {% for areaId in data['additionalAreas'] %}
                {{ getAreaName(areaId, 'pso') }}{% if not loop.last %}<br>{% endif %}
              {% endfor %}
            {% else %}
              None selected
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/general/request-account/pso-additional-areas">
              Change<span class="govuk-visually-hidden"> additional PSO areas</span>
            </a>
          </dd>
        </div>

      {% elif responsibility == 'rma' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            EA areas
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['rmaEaAreas'] and data['rmaEaAreas'].length > 0 %}
              {% for areaId in data['rmaEaAreas'] %}
                {{ getAreaName(areaId, 'ea') }}{% if not loop.last %}<br>{% endif %}
              {% endfor %}
            {% else %}
              Not selected
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/general/request-account/rma-ea-areas">
              Change<span class="govuk-visually-hidden"> EA areas</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            PSO areas
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['rmaPsoAreas'] and data['rmaPsoAreas'].length > 0 %}
              {% for areaId in data['rmaPsoAreas'] %}
                {{ getAreaName(areaId, 'pso') }}{% if not loop.last %}<br>{% endif %}
              {% endfor %}
            {% else %}
              Not selected
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/general/request-account/rma-pso-areas">
              Change<span class="govuk-visually-hidden"> PSO areas</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main RMA area
          </dt>
          <dd class="govuk-summary-list__value">
            {{ getAreaName(data['mainArea'], 'rma') or 'Not selected' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/general/request-account/rma-main-area">
              Change<span class="govuk-visually-hidden"> main RMA area</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Additional RMA areas
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['additionalAreas'] and data['additionalAreas'].length > 0 %}
              {% for areaId in data['additionalAreas'] %}
                {{ getAreaName(areaId, 'rma') }}{% if not loop.last %}<br>{% endif %}
              {% endfor %}
            {% else %}
              None selected
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/general/request-account/rma-additional-areas">
              Change<span class="govuk-visually-hidden"> additional RMA areas</span>
            </a>
          </dd>
        </div>
      {% endif %}
    </dl>
    {% endif %}

    <p class="govuk-body">
      By submitting this request you are confirming that, to the best of your knowledge, the details you are providing are correct.
    </p>

    <form action="/general/request-account/check-answers" method="post">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm and send
      </button>
    </form>

  </div>
</div>

{% endblock %}
