{% extends "layouts/main.html" %}

{% set pageName="Request an account" %}

{# Check if email ends with .gov.uk #}
{% set userEmail = data['email'] or '' %}
{% set isGovUkEmail = userEmail.endsWith('.gov.uk') %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if isGovUkEmail %}
      {# Auto-approved for .gov.uk emails #}
      {{ govukPanel({
        titleText: "Account approved",
        html: "Your account has been created"
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We have sent you an email to <strong>{{ userEmail }}</strong> with a link to set your account password.
      </p>

      <p class="govuk-body">
        Once you have set your password, you can sign in and start using the service.
      </p>

      <div class="govuk-inset-text">
        The email may take a few minutes to arrive. If you do not receive it, check your spam folder.
      </div>

      <h2 class="govuk-heading-m">What you can do now</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Check your email inbox for the password setup link</li>
        <li>Set up your password using the link in the email</li>
        <li>Sign in to the service</li>
      </ul>

    {% else %}
      {# Pending approval for non-.gov.uk emails #}
      {{ govukPanel({
        titleText: "Request submitted",
        html: "Your account request is being reviewed"
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Your account request has been submitted for review by an administrator.
      </p>

      {# <p class="govuk-body">
        We have sent a confirmation email to <strong>{{ userEmail }}</strong>
      </p> #}

      <p class="govuk-body">
        Once your account has been approved, you will receive an email with a link to set your account password and start using the service.
      </p>

      <div class="govuk-inset-text">
        Account approval usually takes 1-2 working days. You will be notified by email once your account has been reviewed.
      </div>

      <h2 class="govuk-heading-m">What you need to do</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Wait for the approval email from the administrator</li>
        <li>Check your spam folder if you do not receive an email within 2 working days</li>
        <li>Once approved, use the link in the email to set your password</li>
        <li>Sign in to the service</li>
      </ul>

    {% endif %}

    <p class="govuk-body govuk-!-margin-top-8">
      <a href="/general/login" class="govuk-link">Return to sign in</a>
    </p>

  </div>
</div>

{% endblock %}
