{% extends "layouts/general-main.html" %}

{% set pageName="Request an account" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Request an account
    </h1>

    <p class="govuk-body">
      You can request an account if you work for a risk management authority or an Environment Agency team. We will use the information you provide to verify your request for an account.
    </p>

    <form action="/general/request-account/details" method="post" novalidate>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="first-name">
          First name
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="first-name" name="firstName" type="text" autocomplete="given-name" value="{{ data['firstName'] }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="last-name">
          Last name
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="last-name" name="lastName" type="text" autocomplete="family-name" value="{{ data['lastName'] }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Email address
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="email" spellcheck="false" autocomplete="email" value="{{ data['email'] }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="telephone">
          Telephone number
        </label>
        <input class="govuk-input govuk-input--width-20" id="telephone" name="telephone" type="tel" autocomplete="tel" value="{{ data['telephone'] }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="organisation">
          Organisation
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="organisation" name="organisation" type="text" autocomplete="organization" value="{{ data['organisation'] }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="job-title">
          Job title
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="job-title" name="jobTitle" type="text" autocomplete="organization-title" value="{{ data['jobTitle'] }}">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            What is your responsibility?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="responsibility-ea" name="responsibility" type="radio" value="ea" {% if data['responsibility'] == 'ea' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="responsibility-ea">
                Environment Agency Area
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="responsibility-pso" name="responsibility" type="radio" value="pso" {% if data['responsibility'] == 'pso' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="responsibility-pso">
                Partnership & Strategic Overview Area
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="responsibility-rma" name="responsibility" type="radio" value="rma" {% if data['responsibility'] == 'rma' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="responsibility-rma">
                Risk Management Authority Area
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <h2 class="govuk-heading-m">Privacy Policy</h2>

      <p class="govuk-body">
        Details of our Personal Information Charter can be found at <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter" class="govuk-link" target="_blank">https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter</a>
      </p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What of my data is being collected and how is it used? What is the legal basis for the processing?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body govuk-!-font-weight-bold">Personal data is collected to:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Verify that you are eligible for an account</li>
            <li>Ensure your account is set up with the correct access permissions</li>
            <li>Allow us to contact you if your request is unclear</li>
            <li>Your contact details will be used to manage your proposal, including contacting you with queries and updates</li>
          </ul>

          <p class="govuk-body">
            Processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the data controller to enable Risk Management Authorities to bid for central government Grant in Aid funding.
          </p>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Who will my data be shared with?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Your personal data will not be shared or disclosed to any other party outside the Environment Agency without your explicit consent.</p>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Will my data be transferred outside of the EEA? If it will, how will it be protected?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">The data you provide will not be transferred outside the European Economic Area.</p>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How long will my data be held for?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Your personal data will be kept by us for as long as you require access to the service</p>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Will my data be used for automated decision-making or profiling?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">The information you provide is not connected with individual decision making (making a decision solely by automated means without any human involvement) or profiling (automated processing of personal data to evaluate certain things about an individual).</p>
        </div>
      </details>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    <p class="govuk-body govuk-!-margin-top-6">
      <a href="/general/login" class="govuk-link">Back to sign in</a>
    </p>

  </div>
</div>

{% endblock %}
