{% extends "layouts/general-main.html" %}

{% set pageName="Request an account" %}

{# Load areas data #}
{% set areasData = data['areasData'] or (data.areas) %}
{% set eaAreas = areasData.ea_areas or [] %}
{% set mainAreaId = data['mainArea'] %}

{% block beforeContent %}
  <a href="/general/request-account/ea-main-area" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Select additional EA areas</h1>

    <p class="govuk-body">
      Select any additional EA areas you should have access to (optional).
    </p>

    <form action="/general/request-account/ea-additional-areas" method="post" novalidate">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            Additional EA areas
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            {% for ea in eaAreas %}
              {% if ea.id != mainAreaId %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" 
                     id="additionalAreas-{{ ea.id }}" 
                     name="additionalAreas" 
                     type="checkbox" 
                     value="{{ ea.id }}" 
                     {% if data['additionalAreas'] and ea.id in data['additionalAreas'] %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="additionalAreas-{{ ea.id }}">
                {{ ea.name }}
              </label>
            </div>
              {% endif %}
            {% endfor %}
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
