{% extends "layouts/general-main.html" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Request an account" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Tell us your first name",
          href: "#first-name"
        }
      ]
    }) }}

    <h1 class="govuk-heading-xl">
      Request an account
    </h1>

    <p class="govuk-body">
      You can request an account if you work for a risk management authority or an Environment Agency team. We will use the information you provide to verify your request for an account.
    </p>

    <form action="/general/request-account/details" method="post" novalidate>
      
      {{ govukInput({
        label: {
          text: "First name"
        },
        classes: "govuk-!-width-two-thirds",
        id: "first-name",
        name: "firstName",
        type: "text",
        autocomplete: "given-name",
        errorMessage: {
          text: "Tell us your first name"
        }
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        classes: "govuk-!-width-two-thirds",
        id: "last-name",
        name: "lastName",
        type: "text",
        autocomplete: "family-name"
      }) }}

      {{ govukInput({
        label: {
          text: "Email"
        },
        classes: "govuk-!-width-two-thirds",
        id: "email",
        name: "email",
        type: "email",
        spellcheck: false,
        autocomplete: "email"
      }) }}

      {{ govukInput({
        label: {
          text: "Telephone Number"
        },
        classes: "govuk-input--width-20",
        id: "telephone",
        name: "telephone",
        type: "tel",
        autocomplete: "tel"
      }) }}

      {{ govukInput({
        label: {
          text: "Organisation"
        },
        classes: "govuk-!-width-two-thirds",
        id: "organisation",
        name: "organisation",
        type: "text",
        autocomplete: "organization"
      }) }}

      {{ govukInput({
        label: {
          text: "Job Title"
        },
        classes: "govuk-!-width-two-thirds",
        id: "job-title",
        name: "jobTitle",
        type: "text",
        autocomplete: "organization-title"
      }) }}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            What is your responsibility?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="responsibility-ea" name="responsibility" type="radio" value="ea">
              <label class="govuk-label govuk-radios__label" for="responsibility-ea">
                Environment Agency Area
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="responsibility-pso" name="responsibility" type="radio" value="pso">
              <label class="govuk-label govuk-radios__label" for="responsibility-pso">
                Partnership & Strategic Overview Area
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="responsibility-rma" name="responsibility" type="radio" value="rma">
              <label class="govuk-label govuk-radios__label" for="responsibility-rma">
                Risk Management Authority Area
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    <p class="govuk-body govuk-!-margin-top-6">
      <a href="/general/login" class="govuk-link">Back to sign in</a>
    </p>

  </div>
</div>

{% endblock %}
