{% extends "layouts/main.html" %}

{% set pageName="Request an account" %}

{# Load areas data #}
{% set areasData = data['areasData'] or (data.areas) %}
{% set eaAreas = areasData.ea_areas or [] %}
{% set selectedEaAreas = data['psoEaAreas'] or [] %}
{% set mainAreaId = data['mainArea'] %}

{% block beforeContent %}
  <a href="/general/request-account/pso-main-area" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Select additional PSO areas</h1>

    <p class="govuk-body">
      Select any additional PSO areas you should have access to (optional).
    </p>

    <form action="/general/request-account/pso-additional-areas" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            Additional PSO areas
          </legend>
          
          {% for ea in eaAreas %}
            {% if ea.id in selectedEaAreas %}
              <h3 class="govuk-heading-s govuk-!-margin-top-4">{{ ea.name }}</h3>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                {% for pso in ea.pso_areas %}
                  {% if pso.id != mainAreaId %}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" 
                           id="additionalAreas-{{ pso.id }}" 
                           name="additionalAreas" 
                           type="checkbox" 
                           value="{{ pso.id }}" 
                           {% if data['additionalAreas'] and pso.id in data['additionalAreas'] %}checked{% endif %}>
                    <label class="govuk-label govuk-checkboxes__label" for="additionalAreas-{{ pso.id }}">
                      {{ pso.name }}
                    </label>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
