{% extends "layouts/general-main.html" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageName="Account request submitted" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Account request submitted",
      html: "Your reference number<br><strong>AR-" + (data.referenceNumber or "2024-001234") + "</strong>"
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">What happens next</h2>

    <p class="govuk-body">
      We will review your account request and verify your details.
    </p>

    <p class="govuk-body">
      You will receive an email at <strong>{{ data.email or "john.smith@example.com" }}</strong> once your account has been approved. This usually takes up to 5 working days.
    </p>

    <h3 class="govuk-heading-s">If your request is approved</h3>

    <p class="govuk-body">
      You will receive an email with instructions on how to set up your password and access the service.
    </p>

    <h3 class="govuk-heading-s">If we need more information</h3>

    <p class="govuk-body">
      We may contact you using the details you provided if we need to verify any information.
    </p>

    <h3 class="govuk-heading-s">Need help?</h3>

    <p class="govuk-body">
      If you have any questions about your account request, contact the Environment Agency helpline on <a href="tel:03708506506" class="govuk-link">0370 8506 506</a> or email <a href="mailto:pafs-support@environment-agency.gov.uk" class="govuk-link">pafs-support@environment-agency.gov.uk</a>
    </p>

    <p class="govuk-body govuk-!-margin-top-7">
      <a href="/general/login" class="govuk-link">Return to sign in</a>
    </p>

  </div>
</div>

{% endblock %}
