{% extends "layouts/main.html" %}

{% set pageName="Request an account" %}

{# Load areas data #}
{% set areasData = data['areasData'] or (data.areas) %}
{% set eaAreas = areasData.ea_areas or [] %}
{% set selectedPsoAreas = data['rmaPsoAreas'] or [] %}
{% set mainAreaId = data['mainArea'] %}

{% block beforeContent %}
  <a href="/general/request-account/rma-main-area" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Select additional RMA areas</h1>

    <p class="govuk-body">
      Select any additional RMA areas you should have access to (optional).
    </p>

    <form action="/general/request-account/rma-additional-areas" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            Additional RMA areas
          </legend>
          
          {% for ea in eaAreas %}
            {% for pso in ea.pso_areas %}
              {% if pso.id in selectedPsoAreas %}
                <h3 class="govuk-heading-s govuk-!-margin-top-4">{{ ea.name }} - {{ pso.name }}</h3>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  {% for rma in pso.rma_areas %}
                    {% if rma.id != mainAreaId %}
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" 
                             id="additionalAreas-{{ rma.id }}" 
                             name="additionalAreas" 
                             type="checkbox" 
                             value="{{ rma.id }}" 
                             {% if data['additionalAreas'] and rma.id in data['additionalAreas'] %}checked{% endif %}>
                      <label class="govuk-label govuk-checkboxes__label" for="additionalAreas-{{ rma.id }}">
                        {{ rma.name }}
                      </label>
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
