{% extends "layouts/general-main.html" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageName="Account approved" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Account approved",
      html: "Your account has been created"
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">What happens next</h2>

    <p class="govuk-body">
      We have sent you an email to <strong>{{ data.email or "john.smith@environment-agency.gov.uk" }}</strong> with a link to set your account password.
    </p>

    <p class="govuk-body">
      Once you have set your password, you can sign in and start using the service.
    </p>

    {{ govukInsetText({
      text: "The email may take a few minutes to arrive. If you do not receive it, check your spam folder."
    }) }}

    <h2 class="govuk-heading-m">What you can do now</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Check your email inbox for the password setup link</li>
      <li>Set up your password using the link in the email</li>
      <li>Sign in to the service</li>
    </ul>

    <p class="govuk-body govuk-!-margin-top-8">
      <a href="/general/login" class="govuk-link">Return to sign in</a>
    </p>

  </div>
</div>

{% endblock %}
