{% extends "layouts/main.html" %}

{% set pageName="What is the estimated spend for other Environment Agency sources for each financial year?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data and data['other-ea-contributor-values-error'] %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#other-ea-contributor-values">{{ data['other-ea-contributor-values-error'] }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

    <form method="post" action="/proposal/create-proposal/funding/other-ea-contributor-values">
      <div class="govuk-form-group {%- if data and data['other-ea-contributor-values-error'] %} govuk-form-group--error {%- endif %}" id="other-ea-contributor-values">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is the estimated spend for other Environment Agency sources for each financial year?
            </h1>
          </legend>

          {% if data and data['other-ea-contributor-values-error'] %}
            <p id="other-ea-contributor-values-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ data['other-ea-contributor-values-error'] }}
            </p>
          {% endif %}

          {% set contributors = data.otherEaContributors or [] %}
          {% set years = fundingYears or [] %}

          {% for name in contributors %}
            <div class="govuk-form-group">
              <h2 class="govuk-heading-m">{{ name }}</h2>

              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Financial year (April to March)</th>
                    <th scope="col" class="govuk-table__header">Estimated spend from contributor in financial year (£)</th>
                    <th scope="col" class="govuk-table__header">Is the funding secured?</th>
                    <th scope="col" class="govuk-table__header">Is the funding Time Constrained?</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  {% set contributorValues = (data.otherEaContributorValues and data.otherEaContributorValues[name]) or {} %}
                  {% for year in years %}
                    {% set yearValue = contributorValues[year] or {} %}
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">{{ year }} to {{ year + 1 }}</th>
                      <td class="govuk-table__cell">
                        <label class="govuk-visually-hidden" for="other-ea-contributor-amount-{{ loop.parent.loop.index0 }}-{{ year }}">
                          Estimated spend for {{ name }} in {{ year }} to {{ year + 1 }}
                        </label>
                        <input
                          class="govuk-input govuk-input--width-10"
                          id="other-ea-contributor-amount-{{ loop.parent.loop.index0 }}-{{ year }}"
                          name="other-ea-contributor-amount-{{ loop.parent.loop.index0 }}-{{ year }}"
                          type="text"
                          value="{{ yearValue.amount or '' }}"
                        >
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input
                              class="govuk-checkboxes__input"
                              id="other-ea-contributor-secured-{{ loop.parent.loop.index0 }}-{{ year }}"
                              name="other-ea-contributor-secured-{{ loop.parent.loop.index0 }}-{{ year }}"
                              type="checkbox"
                              value="on"
                              {% if yearValue.secured %}checked{% endif %}
                            >
                            <label class="govuk-label govuk-checkboxes__label" for="other-ea-contributor-secured-{{ loop.parent.loop.index0 }}-{{ year }}">
                              Secured
                            </label>
                          </div>
                        </div>
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input
                              class="govuk-checkboxes__input"
                              id="other-ea-contributor-constrained-{{ loop.parent.loop.index0 }}-{{ year }}"
                              name="other-ea-contributor-constrained-{{ loop.parent.loop.index0 }}-{{ year }}"
                              type="checkbox"
                              value="on"
                              {% if yearValue.constrained %}checked{% endif %}
                            >
                            <label class="govuk-label govuk-checkboxes__label" for="other-ea-contributor-constrained-{{ loop.parent.loop.index0 }}-{{ year }}">
                              Time constrained
                            </label>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endfor %}
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>
{% endblock %}
