{% extends "layouts/main.html" %} {% set pageName="Who are the expected public
sector contributors?" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/proposal/create-proposal/funding-sources" class="govuk-back-link"
      >Back</a
    >

    {% if data and data['public-contributors-error'] %} {{ govukErrorSummary({
    titleText: "There is a problem", errorList: [ { text:
    data['public-contributors-error'], href: "#public-contributor-1" } ] }) }}
    {% endif %}

    <form
      method="post"
      action="/proposal/create-proposal/funding/public-contributors"
      novalidate
    >
      <div
        class="govuk-form-group {%- if data and data['public-contributors-error'] %} govuk-form-group--error {%- endif %}"
      >
        <fieldset
          class="govuk-fieldset"
          aria-describedby="public-contributors-hint"
        >
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Who are the expected public sector contributors?
            </h1>
          </legend>
          {% if data and data['public-contributors-error'] %}
          <p id="public-contributors-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{
            data['public-contributors-error'] }}
          </p>
          {% endif %}

          <div id="public-contributors">
            {% set contributors = data.publicContributors or [''] %} {% for name
            in contributors %}
            <div class="govuk-form-group">
              <label
                class="govuk-label"
                for="public-contributor-{{ loop.index }}"
              >
                Contributor {{ loop.index }}
              </label>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <input
                    class="govuk-input"
                    id="public-contributor-{{ loop.index }}"
                    name="public-contributors"
                    type="text"
                    value="{{ name }}"
                  />
                </div>
                <div class="govuk-grid-column-one-third" style="padding-top: 5px;">
                  {% if contributors | length > 1 %}
                  <a
                    class="govuk-link govuk-!-font-size-19"
                    href="/proposal/create-proposal/funding/public-contributors/remove/{{ loop.index0 }}"
                  >
                    Remove<span class="govuk-visually-hidden">
                      contributor {{ loop.index }}</span
                    >
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button
          class="govuk-button"
          type="submit"
          name="action"
          value="continue"
          data-module="govuk-button"
        >
          Save and continue
        </button>
        <button
          class="govuk-button govuk-button--secondary"
          type="submit"
          name="action"
          value="add"
          data-module="govuk-button"
        >
          Add another contributor
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
