{% extends "layouts/main.html" %}

{% set pageName="Who are the expected private sector contributors?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data and data['private-contributors-error'] %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#private-contributors">{{ data['private-contributors-error'] }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

    <form method="post" action="/proposal/create-proposal/funding/private-contributors">
      <div class="govuk-form-group {%- if data and data['private-contributors-error'] %} govuk-form-group--error {%- endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="private-contributors-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Who are the expected private sector contributors?
            </h1>
          </legend>
          <div id="private-contributors-hint" class="govuk-hint">
            For example, a local business such as Llanmoor Development Company.
          </div>
          {% if data and data['private-contributors-error'] %}
            <p id="private-contributors-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ data['private-contributors-error'] }}
            </p>
          {% endif %}

          <div id="private-contributors">
            {% set contributors = data.privateContributors or [''] %}
            {% for name in contributors %}
              <div class="govuk-form-group">
                <label class="govuk-label" for="private-contributor-{{ loop.index }}">
                  Contributor name
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="private-contributor-{{ loop.index }}" name="private-contributors" type="text" value="{{ name }}">
              </div>
            {% endfor %}
          </div>
          <p class="govuk-body">
            <button class="govuk-link" type="submit" name="action" value="add">
              Add another contributor
            </button>
          </p>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>
{% endblock %}
