{% extends "layouts/main.html" %}

{% set pageName="Who are the expected private sector contributors?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="/proposal/create-proposal/funding-sources" class="govuk-back-link">Back</a>

    {% if data and data['private-contributors-error'] %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: data['private-contributors-error'],
            href: "#private-contributor-1"
          }
        ]
      }) }}
    {% endif %}

    <form method="post" action="/proposal/create-proposal/funding/private-contributors" novalidate>
      <div class="govuk-form-group {%- if data and data['private-contributors-error'] %} govuk-form-group--error {%- endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="private-contributors-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Who are the expected private sector contributors?
            </h1>
          </legend>
          <div id="private-contributors-hint" class="govuk-hint">
            For example, a local business such as Llanmoor Development Company.
          </div>
          {% if data and data['private-contributors-error'] %}
            <p id="private-contributors-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ data['private-contributors-error'] }}
            </p>
          {% endif %}

          <div id="private-contributors">
            {% set contributors = data.privateContributors or [''] %}
            {% for name in contributors %}
              <div class="govuk-form-group">
                <label class="govuk-label" for="private-contributor-{{ loop.index }}">
                  Contributor {{ loop.index }}
                </label>
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <input class="govuk-input" id="private-contributor-{{ loop.index }}" name="private-contributors" type="text" value="{{ name }}">
                  </div>
                  <div class="govuk-grid-column-one-third" style="padding-top: 5px;">
                    {% if contributors | length > 1 %}
                      <a class="govuk-link govuk-!-font-size-19" href="/proposal/create-proposal/funding/private-contributors/remove/{{ loop.index0 }}">
                        Remove<span class="govuk-visually-hidden"> contributor {{ loop.index }}</span>
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" type="submit" name="action" value="continue" data-module="govuk-button">
          Save and continue
        </button>
        <button class="govuk-button govuk-button--secondary" type="submit" name="action" value="add" data-module="govuk-button">
          Add another contributor
        </button>
      </div>
    </form>

  </div>
</div>
{% endblock %}
