{% extends "layouts/main.html" %}

{% set userType = data.userType or 'unknown' %}

{% set pageName="Offline storage areas" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="/proposal/create-proposal/natural-flood-measures" class="govuk-back-link">Back</a>

    {% if data['nfm-offline-storage-area-error'] or data['nfm-offline-storage-volume-error'] %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% if data['nfm-offline-storage-area-error'] %}
                <li>
                  <a href="#nfm-offline-storage-area">{{ data['nfm-offline-storage-area-error'] }}</a>
                </li>
              {% endif %}
              {% if data['nfm-offline-storage-volume-error'] %}
                <li>
                  <a href="#nfm-offline-storage-volume">{{ data['nfm-offline-storage-volume-error'] }}</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

    <form method="post" action="/proposal/create-proposal/nfm-offline-storage">
      
      <h1 class="govuk-heading-l">Offline storage areas</h1>

      <div class="govuk-form-group {%- if data['nfm-offline-storage-area-error'] %} govuk-form-group--error {%- endif %}">
        <label class="govuk-label govuk-label--m" for="nfm-offline-storage-area">
          What is the area of the new offline storage areas?
        </label>
        
        {% if data['nfm-offline-storage-area-error'] %}
          <p id="nfm-offline-storage-area-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ data['nfm-offline-storage-area-error'] }}
          </p>
        {% endif %}

        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-10 {%- if data['nfm-offline-storage-area-error'] %} govuk-input--error {%- endif %}" 
                 id="nfm-offline-storage-area" 
                 name="nfm-offline-storage-area" 
                 type="text" 
                 spellcheck="false" 
                 value="{{ data['nfm-offline-storage-area'] }}">
          <div class="govuk-input__suffix" aria-hidden="true">hectares</div>
        </div>
      </div>

      <div class="govuk-form-group {%- if data['nfm-offline-storage-volume-error'] %} govuk-form-group--error {%- endif %}">
        <label class="govuk-label govuk-label--m" for="nfm-offline-storage-volume">
          What is the design storage volume of the new offline storage areas?
        </label>
        
        {% if data['nfm-offline-storage-volume-error'] %}
          <p id="nfm-offline-storage-volume-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ data['nfm-offline-storage-volume-error'] }}
          </p>
        {% endif %}

        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-input--width-10 {%- if data['nfm-offline-storage-volume-error'] %} govuk-input--error {%- endif %}" 
                 id="nfm-offline-storage-volume" 
                 name="nfm-offline-storage-volume" 
                 type="text" 
                 spellcheck="false" 
                 value="{{ data['nfm-offline-storage-volume'] }}">
          <div class="govuk-input__suffix" aria-hidden="true">m³</div>
        </div>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
  </div>
</div>
{% endblock %}
