{% extends "layouts/main.html" %}

{% set userType = data.userType or 'unknown' %}

{% set pageName="When do you expect to start the project's outline business case?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorMessage or data['obc-start-error'] %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#obc-start-month">{{ errorMessage or data['obc-start-error'] }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

    <h1 class="govuk-heading-l">When do you expect to start the project's outline business case?</h1>

    <form method="post" action="/proposal/create-proposal/important-dates/obc-start">
      <div class="govuk-form-group {%- if errorMessage or data['obc-start-error'] %} govuk-form-group--error {%- endif %}">
        <fieldset class="govuk-fieldset" role="group" {% if errorMessage or data['obc-start-error'] %}aria-describedby="obc-start-error obc-start-hint"{% else %}aria-describedby="obc-start-hint"{% endif %}>
          {% if errorMessage or data['obc-start-error'] %}
            <p id="obc-start-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errorMessage or data['obc-start-error'] }}
            </p>
          {% endif %}
          <div id="obc-start-hint" class="govuk-hint">
            For example, 3 2019
          </div>
          <div class="govuk-date-input" id="obc-start">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="obc-start-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errorMessage or data['obc-start-error'] %}govuk-input--error{% endif %}" id="obc-start-month" name="obc-start-month" type="text" inputmode="numeric" value="{{ data['obc-start-month'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="obc-start-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errorMessage or data['obc-start-error'] %}govuk-input--error{% endif %}" id="obc-start-year" name="obc-start-year" type="text" inputmode="numeric" value="{{ data['obc-start-year'] }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>
{% endblock %}
