{% extends "layouts/main.html" %}

{% set userType = data.userType or 'unknown' %}

{% set pageName="Create a new proposal" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorMessage %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#primaryAsset">{{ errorMessage }}</a></li>
          </ul>
        </div>
      </div>
    {% endif %}

    <form method="post" action="/proposal/create-proposal/project-type-primary-asset" novalidate>
      <div class="govuk-form-group{% if errorMessage %} govuk-form-group--error{% endif %}" id="primaryAsset">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            Which asset type will deliver the most flood risk benefit?
          </legend>
          {% if errorMessage %}
            <p class="govuk-error-message">{{ errorMessage }}</p>
          {% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            {% for option in filteredAssets %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="primary-{{ option.value }}" name="primaryAsset" type="radio" value="{{ option.value }}" {% if formData.primaryAsset == option.value %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="primary-{{ option.value }}">
                  {{ option.label }}
                </label>
              </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>
    </form>
  </div>
</div>

{% endblock %}
