{% extends "layouts/main.html" %}

{% set urgencyReason = data['urgency'] %}
{% set pageHeading = "Why is your project urgent?" %}

{% if urgencyReason == 'statutory_need' %}
  {% set pageHeading = "What is the business critical statutory need?" %}
{% elseif urgencyReason == 'legal_need' %}
  {% set pageHeading = "What is the business critical legal need?" %}
{% elseif urgencyReason == 'health_and_safety' %}
  {% set pageHeading = "What is the health and safety issue?" %}
{% elseif urgencyReason == 'emergency_works' %}
  {% set pageHeading = "What is the emergency?" %}
{% elseif urgencyReason == 'time_limited' %}
  {% set pageHeading = "What is the specific aspect of the project that has a time limit?" %}
{% endif %}

{% set pageName = pageHeading %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="/proposal/create-proposal/urgency" class="govuk-back-link">Back</a>

    {% if data['urgency-details-error'] %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#urgency-details">{{ data['urgency-details-error'] }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

    <form method="post" action="/proposal/create-proposal/urgency-details">
      <div class="govuk-form-group {%- if data['urgency-details-error'] %} govuk-form-group--error {%- endif %}">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="urgency-details">
            {{ pageHeading }}
          </label>
        </h1>
        
        {% if data['urgency-details-error'] %}
          <p id="urgency-details-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ data['urgency-details-error'] }}
          </p>
        {% endif %}

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="700">
          <textarea class="govuk-textarea govuk-js-character-count" id="urgency-details" name="urgency-details" rows="10" aria-describedby="urgency-details-info">{{ data['urgency-details'] }}</textarea>
          <div id="urgency-details-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 700 characters
          </div>
        </div>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>
{% endblock %}
