{% extends "layouts/general-main.html" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName = "Sign in" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Your account has been locked due to too many failed login attempts",
            href: "#email"
          }
        ]
      }) }}

      <h1 class="govuk-heading-xl">
        Sign in
      </h1>

      <form action="/general/login" method="post" novalidate>

        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          value: "locked.user@example.com",
          errorMessage: {
            text: "Your account has been locked due to too many failed login attempts"
          }
        }) }}

        {{ govukPasswordInput({
          label: {
            text: "Password"
          },
          id: "password",
          name: "password",
          autocomplete: "current-password"
        }) }}

        {{ govukButton({
          text: "Sign in"
        }) }}

      </form>

      <p class="govuk-body govuk-!-margin-top-6">
        Contact the Environment Agency helpline on <a href="tel:03708506506" class="govuk-link">0370 8506 506</a> to unlock your account.
      </p>

    </div>
  </div>

{% endblock %}
