{% extends "layouts/general-main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Set password link expired" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Set password link expired
    </h1>

    <p class="govuk-body">
      The link you used to set your password has expired.
    </p>

    <p class="govuk-body">
      Set password links are valid for 30 days for security reasons.
    </p>

    <h2 class="govuk-heading-m">What you can do</h2>

    <p class="govuk-body">
      Contact the PAFS support team to request a new link to set your password.
    </p>

    <div class="govuk-inset-text">
      Email: <strong>pafs.support@environment-agency.gov.uk</strong><br>
      Include your name and email address in your request.
    </div>

    <p class="govuk-body govuk-!-margin-top-6">
      <a href="/general/login" class="govuk-link">Return to sign in</a>
    </p>

  </div>
</div>

{% endblock %}
