{% extends "layouts/general-variant1.html" %}

{% set pageName="What area is the project likely to benefit?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <p class="govuk-body">
      <a href="/general/create-proposal/check-answers" class="govuk-link">Return to proposal overview</a>
    </p>

    {% if errorMessage %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#benefit-area-file">{{ errorMessage }}</a></li>
          </ul>
        </div>
      </div>
    {% endif %}

    <h1 class="govuk-heading-l">What area is the project likely to benefit?</h1>

    <p class="govuk-body">Upload a shapefile. The shapefile should show the approximate area the project is likely to benefit. Draw as many separate areas as necessary, but make sure they don't overlap.</p>

    <p class="govuk-body">Your shapefile files should be in a single compressed folder or zipfile (.zip) to upload successfully.</p>

    <form method="post" action="/general/create-proposal/benefit-area-file" enctype="multipart/form-data">
      <div class="govuk-form-group{% if errorMessage %} govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="benefit-area-file">
          Upload shapefile
        </label>
        {% if errorMessage %}
          <p id="benefit-area-file-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ errorMessage }}
          </p>
        {% endif %}
        <input class="govuk-file-upload" id="benefit-area-file" name="benefit-area-file" type="file" accept=".zip" {% if errorMessage %}aria-describedby="benefit-area-file-error"{% endif %}>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Upload and continue
      </button>
    </form>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Free mapping tool
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">You can use your own mapping tool or our recommended tool - Magic Map (free to use) - to draw your project's benefit area</p>
        
        <p class="govuk-body">
          <a href="https://magic.defra.gov.uk/MagicMap.aspx" class="govuk-link" target="_blank" rel="noopener noreferrer">Magic Map Application (opens in a new window)</a>
        </p>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Here are simple steps to draw your area in Magic Map
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body govuk-!-font-weight-bold">Follow these simple steps to create and upload your polygon:</p>
            
            <ol class="govuk-list govuk-list--number">
              <li>Click on the Mapping tool link above to open the Magic Map tool.</li>
              <li>Use the search field on the left hand side and zoom in on your area of benefit. The arrow pointing downwards allows you to choose your preferred method to zoom in (click on map, drawing box etc)</li>
              <li>Click on the 'Drawing Tool' icon.</li>
              <li>Click on the Polygon icon.</li>
              <li>Now click to start your first vertices and then select to draw your polygon.</li>
              <li>Click to start again if you want to draw more shapes.</li>
              <li>Double click to complete your shape.</li>
              <li>If you want to start again you can select the rubbish bin icon in the Sketch Styler menu.</li>
              <li>When you are happy with the shape that you have drawn select on the polygon, it should go blue with an orange box around it.</li>
              <li>Now open the Sketch Graphics menu within the Sketch Styler menu and select Save.</li>
              <li>The Shape file ZIP will download to your machine.</li>
              <li>Go to your computers download folder, to view your file, at this point you can rename it.</li>
              <li>Return to PAFS, then upload and continue.</li>
            </ol>
          </div>
        </details>
      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Unable to create a shapefile
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">If you are unable to upload or create a shapefile, contact your local partnership and strategic overview officer and they will be able to help you.</p>
      </div>
    </details>

  </div>
</div>
{% endblock %}

