{% extends "layouts/general-variant1.html" %}

{% set pageName="Proposal overview " %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Proposal overview</h1>
    
    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-4">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-body-s">National proposal number</dt>
        <dd class="govuk-summary-list__value govuk-body-s">FCRM1-000123</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-body-s">Last updated</dt>
        <dd class="govuk-summary-list__value govuk-body-s">Not yet submitted</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-body-s">Status</dt>
        <dd class="govuk-summary-list__value govuk-body-s">
          Draft &nbsp; | &nbsp;<a class="govuk-link" href="#">Archive</a> &nbsp; | &nbsp;<a class="govuk-link" href="#">Delete</a>
        </dd>
      </div>
    </dl>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Project name</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Project name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ formData.projectTitle or 'Not provided' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/general/create-proposal/title">
                Change<span class="govuk-visually-hidden"> project name</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Risk management authority</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Risk management authority
            </dt>
            <dd class="govuk-summary-list__value">
              {% set selectedRma = rmaOptions | selectattr('value', 'equalto', formData.rmaName) | first %}
              {{ selectedRma.label if selectedRma else 'Not provided' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/general/create-proposal/rma-selection">
                Change<span class="govuk-visually-hidden"> risk management authority</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Project type</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Project type
            </dt>
            <dd class="govuk-summary-list__value">
              {% set selectedType = projectTypeOptions | selectattr('value', 'equalto', formData.projectType) | first %}
              {{ selectedType.label if selectedType else 'Not provided' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/general/create-proposal/project-type">
                Change<span class="govuk-visually-hidden"> project type</span>
              </a>
            </dd>
          </div>

          {% if formData.projectType == 'new_or_improve' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Asset types
              </dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  {% for option in assetTypeOptions %}
                    {% if option.value in formData.assetTypes %}
                      <li>{{ option.label }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/general/create-proposal/project-type/assets">
                  Change<span class="govuk-visually-hidden"> asset types</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Primary asset type
              </dt>
              <dd class="govuk-summary-list__value">
                {% set primaryOption = assetTypeOptions | selectattr('value', 'equalto', formData.primaryAsset) | first %}
                {{ primaryOption.label if primaryOption else 'Not provided' }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/general/create-proposal/project-type/primary-asset">
                  Change<span class="govuk-visually-hidden"> primary asset type</span>
                </a>
              </dd>
            </div>
          {% endif %}
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Last financial year the project will spend funds</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last financial year the project will spend funds
            </dt>
            <dd class="govuk-summary-list__value">
              {% if financialYearOptions %}
                {% set selectedYear = financialYearOptions | selectattr('value', 'equalto', formData.financialYear) | first %}
                {{ selectedYear.label if selectedYear else (formData.financialYear or 'Not provided') }}
              {% else %}
                {{ formData.financialYear or 'Not provided' }}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/general/create-proposal/financial-year">
                Change<span class="govuk-visually-hidden"> last financial year the project will spend funds</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6">

    <p class="govuk-body">All information needs to be completed before you can submit your proposal.</p>
    <p class="govuk-body">If you do not submit your proposal, it will not be reviewed or included in the programme. You should read the standard data notice before you submit.</p>

    <p class="govuk-body">
      <a class="govuk-link" href="#">Standard data notice</a>
    </p>

    <form method="post" action="/general/create-proposal/check-answers" class="govuk-!-margin-top-2">
      <button class="govuk-button" data-module="govuk-button">Submit proposal</button>
    </form>
  </div>
</div>
{% endblock %}
