{% extends "layouts/general-variant1.html" %}

{% set pageName="Create a new proposal" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorMessage %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#financialYear">{{ errorMessage }}</a></li>
          </ul>
        </div>
      </div>
    {% endif %}

    <form method="post" action="/general/create-proposal/financial-year" novalidate>
      <div class="govuk-form-group{% if errorMessage %} govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="financialYear-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            In what financial year will the project stop spending funds?
          </legend>
          <div id="financialYear-hint" class="govuk-hint">Don't include years which include maintenance costs.</div>
          {% if errorMessage %}
            <p class="govuk-error-message">{{ errorMessage }}</p>
          {% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            {% for option in financialYearOptions %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="financialYear-{{ option.value }}" name="financialYear" type="radio" value="{{ option.value }}" {% if formData.financialYear == option.value %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="financialYear-{{ option.value }}">
                  {{ option.label }}
                </label>
              </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-4">
        <a class="govuk-link" href="/general/create-proposal/financial-year/after">The project will spend funds after March 2031</a>
      </p>

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>
    </form>
  </div>
</div>

{% endblock %}
