{% extends "layouts/general-variant1.html" %}

{% set pageName="When do you expect the project to start achieving its benefits?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['ready-for-service-error'] %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#ready-for-service-month">{{ data['ready-for-service-error'] }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

    <h1 class="govuk-heading-xl">When do you expect the project to start achieving its benefits?</h1>

    <p class="govuk-body">This could be when households start to benefit or new habitat is created.</p>

    <form method="post" action="/general/create-proposal/important-dates/ready-for-service">
      <div class="govuk-form-group {%- if data['ready-for-service-error'] %} govuk-form-group--error {%- endif %}">
        <fieldset class="govuk-fieldset" role="group" {% if data['ready-for-service-error'] %}aria-describedby="ready-for-service-error ready-for-service-hint"{% else %}aria-describedby="ready-for-service-hint"{% endif %}>
          {% if data['ready-for-service-error'] %}
            <p id="ready-for-service-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ data['ready-for-service-error'] }}
            </p>
          {% endif %}
          <div id="ready-for-service-hint" class="govuk-hint">
            For example, 9 2021
          </div>
          <div class="govuk-date-input" id="ready-for-service">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="ready-for-service-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if data['ready-for-service-error'] %}govuk-input--error{% endif %}" id="ready-for-service-month" name="ready-for-service-month" type="text" inputmode="numeric" value="{{ data['ready-for-service-month'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="ready-for-service-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if data['ready-for-service-error'] %}govuk-input--error{% endif %}" id="ready-for-service-year" name="ready-for-service-year" type="text" inputmode="numeric" value="{{ data['ready-for-service-year'] }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>
{% endblock %}

