{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageName = "Sign in" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if error == "account-locked" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Your account has been locked due to too many failed login attempts", href: "#email" }
        ]
      }) }}
    {% endif %}

    {% if error == "account-disabled" %}
    
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Your account has been disabled. Contact the administrator", href: "#email" }
        ]
      }) }}
    {% endif %}

    {% if error == "account-pending" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Your account request is pending approval. You will be unable to sign in until your account request is approved", href: "#email" }
        ]
      }) }}
    {% endif %}

    {% if error == "session-expired" %}
      {{ govukNotificationBanner({
        type: "standard",
        html: '<p class="govuk-body"><b>Your session has expired. Please sign in again to continue</b></p>'
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl">Sign in</h1>

    {% if error == "account-locked" %}
      <div class="govuk-form-group govuk-!-margin-top-4">
        {{ govukInsetText({
          html: '<p class="govuk-body">You can use forgot password to unlock your account</p>'
        }) }}
      </div>
    {% endif %}

    {% set emailErrors = null %}
    {% if error == "account-locked" %}
      {% set emailErrors = { text: "Your account has been locked due to too many failed login attempts" } %}
    {% elseif error == "account-disabled" %}
      {% set emailErrors = { text: "Your account has been disabled. Contact the administrator" } %}
    {% elseif error == "account-pending" %}
      {% set emailErrors = { text: "Your account request is pending approval. You will be unable to sign in until your account request is approved" } %}
    {% endif %}

    <form action="/login" method="post" novalidate>
      {{ govukInput({
        label: { text: "Email address" },
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        errorMessage: emailErrors
      }) }}

      {{ govukPasswordInput({
        label: { text: "Password" },
        id: "password",
        name: "password",
        autocomplete: "current-password"
      }) }}

      {{ govukButton({ text: "Sign in" }) }}
    </form>

    {% if error == "account-disabled" %}
      <div class="govuk-form-group govuk-!-margin-top-4">
        {{ govukInsetText({
          html: '<p class="govuk-body">Contact the Defra IT Service Desk on <a href="tel:0800 8766458" class="govuk-link">0800 8766458</a> or email <a href="mailto:pafs-support@environment-agency.gov.uk" class="govuk-link">pafs-support@environment-agency.gov.uk</a></p>'
        }) }}
      </div>
    {% endif %}

    <p class="govuk-body govuk-!-margin-top-4">
      <a href="/forgot-password" class="govuk-link">I have forgotten my password</a>
    </p>

    <p class="govuk-body">
      <a href="/request-account" class="govuk-link">Request an account</a>
    </p>

    {# <p class="govuk-body govuk-!-margin-top-6">
      <a href="/catalogue" class="govuk-link">View all screens and messages catalogue</a>
    </p> #}
  </div>
</div>

{% endblock %}
