{% extends "layouts/main.html" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageName="Your details - Request an account" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% if error %}
      {% set errorArray = error.split(',') %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { text: "Tell us your first name", href: "#first-name" } if "first-name-empty" in errorArray,
          { text: "Tell us your last name", href: "#last-name" } if "last-name-empty" in errorArray,
          { text: "Enter your email address", href: "#email" } if "email-empty" in errorArray,
          { text: "Enter an email address in the correct format, like name@example.com", href: "#email" } if "email-invalid" in errorArray,
          { text: "This email address is already registered", href: "#email" } if "email-duplicate" in errorArray,
          { text: "Enter your telephone number", href: "#telephone" } if "telephone-empty" in errorArray,
          { text: "Enter a telephone number in the correct format", href: "#telephone" } if "telephone-invalid" in errorArray,
          { text: "Enter your organisation", href: "#organisation" } if "organisation-empty" in errorArray,
          { text: "Enter your job title", href: "#job-title" } if "job-title-empty" in errorArray,
          { text: "Select your responsibility area", href: "#responsibility-ea" } if "responsibility-empty" in errorArray
        ] | reject("equalto", false) | list
      }) }}
    {% endif %}
    
    <h1 class="govuk-heading-xl">Request an account</h1>

    <p class="govuk-body">
      You can request an account if you work for a risk management authority or an Environment Agency team. We will use the information you provide to verify your request for an account.
    </p>

    <form action="/request-account/details" method="post" novalidate>
      {% if error %}
        {% set errorArray = error.split(',') %}
      {% endif %}
      
      <div class="govuk-form-group {% if error and 'first-name-empty' in errorArray %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="first-name">First name</label>
        {% if error and 'first-name-empty' in errorArray %}
          <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Tell us your first name</p>
        {% endif %}
        <input class="govuk-input govuk-!-width-two-thirds {% if error and 'first-name-empty' in errorArray %}govuk-input--error{% endif %}" id="first-name" name="firstName" type="text" autocomplete="given-name" value="{{ data['firstName'] }}">
      </div>

      <div class="govuk-form-group {% if error and 'last-name-empty' in errorArray %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="last-name">Last name</label>
        {% if error and 'last-name-empty' in errorArray %}
          <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Tell us your last name</p>
        {% endif %}
        <input class="govuk-input govuk-!-width-two-thirds {% if error and 'last-name-empty' in errorArray %}govuk-input--error{% endif %}" id="last-name" name="lastName" type="text" autocomplete="family-name" value="{{ data['lastName'] }}">
      </div>

      <div class="govuk-form-group {% if error and ('email-empty' in errorArray or 'email-invalid' in errorArray or 'email-duplicate' in errorArray) %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="email">Email address</label>
        {% if error and 'email-empty' in errorArray %}
          <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Enter your email address</p>
        {% elif error and 'email-invalid' in errorArray %}
          <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Enter an email address in the correct format, like name@example.com</p>
        {% elif error and 'email-duplicate' in errorArray %}
          <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> This email address is already registered</p>
        {% endif %}
        <input class="govuk-input govuk-!-width-two-thirds {% if error and ('email-empty' in errorArray or 'email-invalid' in errorArray or 'email-duplicate' in errorArray) %}govuk-input--error{% endif %}" id="email" name="email" type="email" spellcheck="false" autocomplete="email" value="{{ data['email'] }}">
      </div>

      <div class="govuk-form-group {% if error and ('telephone-empty' in errorArray or 'telephone-invalid' in errorArray) %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="telephone">Telephone number</label>
        {% if error and 'telephone-empty' in errorArray %}
          <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Enter your telephone number</p>
        {% elif error and 'telephone-invalid' in errorArray %}
          <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Enter a telephone number in the correct format</p>
        {% endif %}
        <input class="govuk-input govuk-input--width-20 {% if error and ('telephone-empty' in errorArray or 'telephone-invalid' in errorArray) %}govuk-input--error{% endif %}" id="telephone" name="telephone" type="tel" autocomplete="tel" value="{{ data['telephone'] }}">
      </div>

      <div class="govuk-form-group {% if error and 'organisation-empty' in errorArray %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="organisation">Organisation</label>
        {% if error and 'organisation-empty' in errorArray %}
          <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Enter your organisation</p>
        {% endif %}
        <input class="govuk-input govuk-!-width-two-thirds {% if error and 'organisation-empty' in errorArray %}govuk-input--error{% endif %}" id="organisation" name="organisation" type="text" autocomplete="organization" value="{{ data['organisation'] }}">
      </div>

      <div class="govuk-form-group {% if error and 'job-title-empty' in errorArray %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="job-title">Job title</label>
        {% if error and 'job-title-empty' in errorArray %}
          <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Enter your job title</p>
        {% endif %}
        <input class="govuk-input govuk-!-width-two-thirds {% if error and 'job-title-empty' in errorArray %}govuk-input--error{% endif %}" id="job-title" name="jobTitle" type="text" autocomplete="organization-title" value="{{ data['jobTitle'] }}">
      </div>

      <div class="govuk-form-group {% if error and 'responsibility-empty' in errorArray %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">What is your responsibility?</legend>
          {% if error and 'responsibility-empty' in errorArray %}
            <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Select your responsibility area</p>
          {% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="responsibility-ea" name="responsibility" type="radio" value="ea" {% if data['responsibility'] == 'ea' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="responsibility-ea">
                Environment Agency – Area Programme Team
                <div class="govuk-hint">Allows you to view all records created within the boundary of your Area.</div>
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="responsibility-pso" name="responsibility" type="radio" value="pso" {% if data['responsibility'] == 'pso' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="responsibility-pso">
                Environment Agency – Partnership &amp; Strategic Overview Team
                <div class="govuk-hint">Allows you to view and edit all records created within the boundary of your Team</div>
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="responsibility-rma" name="responsibility" type="radio" value="rma" {% if data['responsibility'] == 'rma' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="responsibility-rma">
                Risk Management Authority (RMA)
                <div class="govuk-hint">Allows you to create, edit, and view all records created within the boundary of your RMA.</div>
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <h2 class="govuk-heading-m">Privacy Policy</h2>

      <p class="govuk-body">
        Details of our Personal Information Charter can be found at <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter" class="govuk-link" target="_blank">https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter</a>
      </p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">What of my data is being collected and how is it used? What is the legal basis for the processing?</span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body govuk-!-font-weight-bold">Personal data is collected to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Verify that you are eligible for an account</li>
            <li>Ensure your account is set up with the correct access permissions</li>
            <li>Allow us to contact you if your request is unclear</li>
            <li>Your contact details will be used to manage your proposal, including contacting you with queries and updates</li>
          </ul>
          <p class="govuk-body">Processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the data controller to enable Risk Management Authorities to bid for central government Grant in Aid funding.</p>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Who will my data be shared with?</span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Your personal data will not be shared or disclosed to any other party outside the Environment Agency without your explicit consent.</p>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Will my data be transferred outside of the EEA? If it will, how will it be protected?</span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">The data you provide will not be transferred outside the European Economic Area.</p>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">How long will my data be held for?</span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Your personal data will be kept by us for as long as you require access to the service</p>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Will my data be used for automated decision-making or profiling?</span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">The information you provide is not connected with individual decision making (making a decision solely by automated means without any human involvement) or profiling (automated processing of personal data to evaluate certain things about an individual).</p>
        </div>
      </details>

      <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

    <p class="govuk-body govuk-!-margin-top-6">
      <a href="/login" class="govuk-link">Back to sign in</a>
    </p>
  </div>
</div>

{% endblock %}
