{% extends "layouts/main.html" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageName = "Select main EA area - " ~ ("Add new user" if isAdmin else "Request an account") %}

{% set areasData = data['areasData'] or (data.areas) %}
{% set eaAreas = areasData.ea_areas or [] %}

{% block beforeContent %}
  <a href="{{ backLink or '/request-account/details' }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if error == 'area-not-selected' %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [ { text: ("Select the user's main EA area" if isAdmin else "Select your main EA area"), href: "#mainArea" } ]
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">Select {{ "the user's" if isAdmin else "your" }} main EA area</h1>

    <form action="{{ ('/admin/add-user-ea-main-area' if isAdmin else '/request-account/ea-main-area') }}" method="post" novalidate>
      <div class="govuk-form-group {% if error == 'area-not-selected' %}govuk-form-group--error{% endif %}">
        <label class="govuk-label govuk-label--m" for="mainArea">Main EA area</label>
        <div id="mainArea-hint" class="govuk-hint">This will be {{ "the user's" if isAdmin else "your" }} primary area</div>
        {% if error == 'area-not-selected' %}
          <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Select {{ "the user's" if isAdmin else "your" }} main EA area</p>
        {% endif %}
        <select class="govuk-select {% if error == 'area-not-selected' %}govuk-select--error{% endif %}" id="mainArea" name="mainArea" aria-describedby="mainArea-hint">
          <option value="">Select an area</option>
          {% for ea in eaAreas %}
            <option value="{{ ea.id }}" {% if data['mainArea'] == ea.id %}selected{% endif %}>{{ ea.name }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>
{% endblock %}
