{% extends "layouts/main.html" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageName="Select main PSO area - " ~ ("Add new user" if isAdmin else "Request an account") %}
{% set areasData = data['areasData'] or (data.areas) %}
{% set eaAreas = areasData.ea_areas or [] %}
{% set selectedEaAreas = data['psoEaAreas'] or [] %}

{% block beforeContent %}
  <a href="{{ backLink or '/request-account/pso-ea-areas' }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if error == 'area-not-selected' %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [ { text: "Select your main PSO area", href: "#mainArea" } ]
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">Select main PSO area</h1>

    <form action="{{ ('/admin/add-user-pso-main-area' if isAdmin else '/request-account/pso-main-area') }}" method="post" novalidate>
      <div class="govuk-form-group {% if error == 'area-not-selected' %}govuk-form-group--error{% endif %}">
        <label class="govuk-label govuk-label--m" for="mainArea">Main PSO area</label>
        <div id="mainArea-hint" class="govuk-hint">This will be your primary area</div>
        {% if error == 'area-not-selected' %}
          <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Select your main PSO area</p>
        {% endif %}
        <select class="govuk-select {% if error == 'area-not-selected' %}govuk-select--error{% endif %}" id="mainArea" name="mainArea" aria-describedby="mainArea-hint">
          <option value="">Select a PSO area</option>
          {% for ea in eaAreas %}
            {% if ea.id in selectedEaAreas %}
              <optgroup label="{{ ea.name }}">
                {% for pso in ea.pso_areas %}
                  <option value="{{ pso.id }}" {% if data['mainArea'] == pso.id %}selected{% endif %}>{{ pso.name }}</option>
                {% endfor %}
              </optgroup>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>
{% endblock %}
