{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set serviceNameLong = "Project Application and Funding Service Admin" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/admin/users",
    serviceName: serviceNameLong,
    serviceUrl: "/admin/users"
  }) }}
  
  {{ govukServiceNavigation({
    navigationId: "service-nav",
    menuButtonText: "Menu",
    menuButtonLabel: "Show or hide navigation menu",
    navigation: [
      {
        href: "/admin/users",
        text: "Users",
        current: true if pageName == "Users"
      },
      {
        href: "/admin/projects",
        text: "Projects",
        current: true if pageName == "Projects"
      },
      {
        href: "/admin/submissions",
        text: "Submissions",
        current: true if pageName == "Submissions"
      },
      {
        href: "/admin/organisations",
        text: "Organisations",
        current: true if pageName == "Organisations"
      },
      {
        href: "/admin/download-projects",
        text: "Download Projects",
        current: true if pageName == "Download Projects"
      },
      {
        href: "/admin/download-rma",
        text: "Download RMA",
        current: true if pageName == "Download RMA"
      }
    ],
    slots: {
      navigationEnd: '<ul class="govuk-service-navigation__list govuk-service-navigation__list--end">
        <li class="govuk-service-navigation__item">
          <span class="govuk-service-navigation__text">
            Signed in as: <strong>' + (data.userName or "Admin User") + '</strong>
          </span>
        </li>
        <li class="govuk-service-navigation__item">
          <a class="govuk-service-navigation__link" href="/admin/signout">
            Sign out
          </a>
        </li>
      </ul>'
    }
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      html: '<p class="govuk-body">Any issues call CIS service desk on <strong>80 80</strong> or if external <a href="tel:08708508082" class="govuk-footer__link">08708 508 082</a></p>'
    }
  }) }}
{% endblock %}
