{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set serviceNameShort = "PAFS Admin" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/admin/login"
  }) }}
  
  {{ govukServiceNavigation({
    serviceName: serviceNameShort,
    serviceUrl: "/admin/login"
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      html: '<p class="govuk-body">Any issues call CIS service desk on <strong>80 80</strong> or if external <a href="tel:08708508082" class="govuk-footer__link">08708 508 082</a></p>'
    }
  }) }}
{% endblock %}
