{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set serviceNameLong = "Submit a proposal for flood and coastal erosion risk management project funding" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/general/proposals",
    serviceName: serviceNameLong,
    serviceUrl: "/general/proposals"
  }) }}
  
  {{ govukServiceNavigation({
    navigationId: "service-nav",
    navigation: [
      {
        href: "/general/proposals",
        text: "Your proposals",
        current: true
      },
      {
        href: "/general/download-all",
        text: "Download All"
      },
      {
        href: "/general/archive",
        text: "Archive"
      }
    ]
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      html: '<p class="govuk-body">Environment Agency (England) helpline: <a href="tel:03708506506" class="govuk-footer__link">0370 8506 506</a></p>',
      items: [
        {
          href: "#",
          text: "Privacy"
        },
        {
          href: "#",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Accessibility"
        }
      ]
    }
  }) }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-phase-banner" style="margin-top: 0; padding-top: 10px;">
      <p class="govuk-phase-banner__content" style="display: flex; justify-content: flex-end; align-items: center; gap: 15px;">
        <span style="font-size: 16px;">Signed in as: <strong>{{ data.userName or "John Smith" }}</strong></span>
        <a class="govuk-link" href="/general/signout">Sign out</a>
      </p>
    </div>
  </div>
  {{ super() }}
{% endblock %}
