{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set serviceNameShort = "Submit a flood risk management proposal" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/general/login"
  }) }}
  
  {{ govukServiceNavigation({
    serviceName: serviceNameShort,
    serviceUrl: "/general/login"
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      html: '<p class="govuk-body">Contact the Defra IT Service Desk on  <a href="tel:0800 8766458" class="govuk-footer__link">0800 8766458</a> or email <a href="email:pafs-support@environment-agency.gov.uk" class="govuk-footer__link">pafs-support@environment-agency.gov.uk</a></p>',
      items: [
        {
          href: "#",
          text: "Privacy"
        },
        {
          href: "#",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Accessibility"
        }
      ]
    }
  }) }}
{% endblock %}
