{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set serviceNameShort = "Submit a flood risk management proposal" %}

{% block header %}
  {% set isAdminUser = data.isAdmin or journeyData.isAdmin %}
  {% set displayName = data.userName or journeyData.userName or "John Smith" %}
  
  {{ govukHeader({
    homepageUrl: "/general/proposals",
    menuButtonText: "Profile",
    menuButtonLabel: "Show or hide Profile menu",
    navigation: [
      {
        text: "Signed in as: " + displayName
      },
      {
        href: "/admin/user-management-pending",
        text: "Switch to Admin journey"
      } if isAdminUser,
      {
        href: "/general/signout",
        text: "Sign out"
      }
    ] | reject("equalto", false) | list,
    navigationClasses: "govuk-header__navigation--end",
    navigationLabel: "Profile",
    navigationId: "profile-nav"
  }) }}
  
  {{ govukServiceNavigation({
    serviceName: serviceNameShort,
    serviceUrl: "/general/proposals",
    menuButtonText: "Menu",
    menuButtonLabel: "Show or hide service navigation menu",
    navigationId: "service-nav",
    navigation: [
      {
        href: "/general/proposals",
        text: "Your proposals",
        current: true
      },
      {
        href: "/general/download-all",
        text: "Download All"
      },
      {
        href: "/general/archive",
        text: "Archive"
      }
    ]
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      html: '<p class="govuk-body">Contact the Defra IT Service Desk on  <a href="tel:0800 8766458" class="govuk-footer__link">0800 8766458</a> or email <a href="email:pafs-support@environment-agency.gov.uk" class="govuk-footer__link">pafs-support@environment-agency.gov.uk</a></p>',
      items: [
        {
          href: "#",
          text: "Privacy"
        },
        {
          href: "#",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Accessibility"
        }
      ]
    }
  }) }}
{% endblock %}
