{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set serviceNameLong = "Submit a proposal for flood and coastal erosion risk management project funding" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/general/proposals",
    serviceName: serviceNameLong,
    serviceUrl: "/general/proposals"
  }) }}
  
  {{ govukServiceNavigation({
    navigationId: "service-nav",
    menuButtonText: "Menu",
    menuButtonLabel: "Show or hide navigation menu",
    navigation: [
      {
        href: "/general/proposals",
        text: "Your proposals",
        current: true
      },
      {
        href: "/general/download-all",
        text: "Download All"
      },
      {
        href: "/general/archive",
        text: "Archive"
      }
    ],
    slots: {
      navigationEnd: '<ul class="govuk-service-navigation__list govuk-service-navigation__list--end">
        <li class="govuk-service-navigation__item">
          <span class="govuk-service-navigation__text">
            Signed in as: <strong>' + (data.userName or "John Smith") + '</strong>
          </span>
        </li>
        <li class="govuk-service-navigation__item">
          <a class="govuk-service-navigation__link" href="/general/signout">
            Sign out
          </a>
        </li>
      </ul>'
    }
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      html: '<p class="govuk-body">Contact the Defra IT Service Desk on  <a href="tel:0800 8766458" class="govuk-footer__link">0800 8766458</a> or email <a href="email:pafs-support@environment-agency.gov.uk" class="govuk-footer__link">pafs-support@environment-agency.gov.uk</a></p>',
      items: [
        {
          href: "#",
          text: "Privacy"
        },
        {
          href: "#",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Accessibility"
        }
      ]
    }
  }) }}
{% endblock %}
